<header>

    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ url('fos_user_profile_show') }}">{{ 'app.my_profile'|trans({}, 'links') }}</a></li>
                    <li><a href="{{ url('fos_user_security_logout') }}">{{ 'app.logout'|trans({}, 'links') }}</a></li>
                {% else %}
                    <li>
                        <a href="/login/github" class="nice small radius black button">
                            <i class="fi-social-github"></i>
                            Sign in with Github
                        </a>
                    </li>
                    <li><a href="{{ url('fos_user_security_login') }}">{{ 'app.login'|trans({}, 'links') }}</a></li>
                    <li><a href="{{ url('fos_user_registration_register') }}">{{ 'app.create_account'|trans({}, 'links') }}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a href="{{ github_link }}" target="_blank"><i class="fi-social-github"></i> Github</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="medium-4 columns">
            <img src="/bundles/app/dist/images/phpcanada.png" alt="PHP Canada Community">
        </div>
        <div class="medium-8 columns">
            <img src="http://placehold.it/900x140&text=Responsive Ads - ZURB Playground/333" alt="advertisement for deep fried Twinkies" class="top-banner   show-for-large-up">
        </div>
    </div>

    <br>
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="main-menu">
        <ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
            <li>
                <a href="#">{{ 'app.articles'|trans({}, 'links') }}</a>
            </li>
            <li>
                <a href="{{ slackin }}" target="_blank">{{ 'app.slack'|trans({}, 'links') }}</a>
            </li>
            <li>
                <a href="#">{{ 'app.support'|trans({}, 'links') }}</a>
            </li>
            <li>
                <a href="#">{{ 'app.jobs'|trans({}, 'links') }}</a>
            </li>
            <li>
                <a href="#">{{ 'app.events'|trans({}, 'links') }}</a>
            </li>
            <li>
                <a href="#">{{ 'app.contact_us'|trans({}, 'links') }}</a>
            </li>
        </ul>
    </div>
</header>
<br>
